body{
 font-family: "Epilogue", serif;
 position: relative;
}
.make-remote-work{
 text-align: center;
 font-size: 40px;
 font-weight: 700;
 margin-bottom: 20px;
}
.team-in-sync{
 font-size: 18px;
 font-weight: 350;
 color: hsl(0, 0%, 41%);
 text-align: center;
 padding: 0 10px;
}
.learn-more-button{
 display: flex;
 justify-self: center;
 border: none;
 background-color: hsl(0, 0%, 8%);
 color: hsl(0, 0%, 98%);
 padding: 15px 25px;
 border-radius: 15px;
 font-size: 15px;
 font-weight: 500;
 margin: 25px 0;
 border: 1px solid transparent;
}
.learn-more-button:active{
  color: black;
  border-color: black;
  background-color: hsl(0, 0%, 98%);
  transform: 2ms ease-in-out;
}
.clients{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding: 30px 5px 150px 5px;
}
.client-databiz{
 width: 90px;
 height: 16px;
}
.client-meet, .client-maker{
 width: 67px;
 height: 17px;
}
.client-audiophile{
 width: 50px;
 height: 26px;
}
.attribution { 
 font-size: 11px; 
 text-align: center; 
}
.attribution a { 
 color: hsl(228, 45%, 44%); 
}
.options-desktop{
 display: none;
}


.login-button, .register-button{
 background-color: white;
 border: none;
 font-size: 15px;
 color: hsl(0, 0%, 41%);
}

.hero-mobile-image{
 width: 100%;
 padding-top: 20px;
}
.features-dropdown{
 position: absolute;
 top: 50px;
 left: 110px;
}
.company-dropdown{
 position: absolute;
 top: 50px;
 left: 270px;
}
.features-dropdown, .company-dropdown {
 display: none;
 list-style-type: none;
 box-shadow: 0px 0px  20px 25px rgba(4, 0, 0, 0.05);
 border-radius: 10px;
 padding: 20px 0 20px 20px;
 font-size: 12px;
}
.features-arrow-up{
 display: none;
}

.company-arrow-up{
 display: none;
}
.listed-options{
 display: flex;
 align-items: flex-start;
 justify-content: space-between;
 padding-bottom: 7px;
 color: hsl(0, 0%, 41%);
}
.company-options{
 padding-bottom: 7px;
 color: hsl(0, 0%, 41%);
}
.options-mobile{
 background-color: white;
 position: absolute;
 right: 0;
 top: 0;
 bottom: -254px;
 list-style-type: none;
 z-index: 100;
 display: none;
 color: hsl(0, 0%, 41%);
 width: 0px;
 padding: 0;
 opacity: 1;
 visibility: visible;
}
.icon-open-mobile{
 position: absolute;
 right: 10px;
}
.icon-close-mobile{
 display: none;
 position: absolute;
 right: 17px;
 top: 14px;
 padding-top: 20px;
}


.company-link-mobile, .features-link-mobile{
  text-decoration: none;
  color: hsl(0, 0%, 41%);
}

.features-arrow-down-mobile{
  padding-left: 6px;
 }
 .features-arrow-up-mobile{
  display: none;
 }
 .company-arrow-down-mobile{
  padding-left: 12px;
 }
 .company-arrow-up-mobile{
  display: none;
 }

.features-options, .company-optionss-mobile{
  display: none;
  padding: 10px 30px;
}
.listed-options-mobile{
  display: flex;
  align-items: flex-end;
}
.listed-options-mobile img{
  padding-right: 10px;
}
.buttons-section{
  display: flex;
  flex-direction: column;
  height: 50%;
  align-items: center;
 }
 .register-button{
  width: 85%;
  height: 6%;
  border: 1px solid hsl(0, 0%, 41%);
  border-radius: 10px;
 }

/* .body-self{
  filter: blur(5px);
  opacity: 0.8;
  visibility: visible;
  z-index: -1;
 } */

 @media (max-width: 780px) {
  .all-header-section{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 25px 15px;
  }
  .snap-logo{
   position: absolute;
  }
  
  li{
   padding-bottom: 20px;
  }
  
  .login-button{
   margin-top: 20px;
   display: block;
   padding: 12px 80px 12px 80px;
  }
 
  
 .options-opened{
   display: block;
   padding: 90px 5px 0px 15px;
   width: 60%;
   transition: width 1ms linear 3ms;
   margin: 0;
  }
 .closed-mobile{
   display: block;
  }
 .arrow-down-mobile{
   display: none;
 }
 .company-arrows-down-mobile{
   display: none;
 }
 .arrow-up-mobile{
   display: inline-block;
 }
 .company-arrows-up-mobile{
   display: inline-block;
 }
 .features-options-displayed{
   display: block;
 }
 .company-options-displayed{
   display: block;
 }
 
  /* .opacity-added{
   opacity: 1; 
  } */
 }

@media (min-width: 500px) and (max-width: 600px){
  .make-remote-work{
    font-size: 45px;
  }
  .team-in-sync{
    font-size: 19px;
  }
  .learn-more-button{
    padding: 20px 30px;
    font-size: 17px;
  }
  .options-opened, .login-button, .register-button{
    font-size: 22px;
  }
  .register-button{
    height: 9%;
    border-radius: 15px;
  }
}
@media (min-width: 601px) and (max-width: 780px){
  .make-remote-work{
    font-size: 60px;
  }
  .team-in-sync{
    font-size: 21px;
  }
  .learn-more-button{
    justify-self: center;
    padding: 25px 40px;
    font-size: 19px;
  }
  .options-opened, .login-button, .register-button{
    font-size: 24px;
  }
  .register-button{
    height: 10%;
    border-radius: 17px;
  }
}
@media (min-width: 781px) and (max-width: 945px){
  .all-header-section{
    font-size: 15px;
   }
  .make-remote-work{
    font-size: 51px;
  }
  .team-in-sync{
    font-size: 16px;
    padding: 0;
  }
  .learn-more-button{
    padding: 16px 22px;
    font-size: 16px;
  }
}

@media (min-width: 781px){
 .icon-open-mobile, .icon-close-mobile, .options-mobile{
  display: none;
 }
 .all-header-section{
  display: flex;
  padding-top: 20px;
  position: relative;
  font-size: 15px;
 }
 .snap-logo{
  align-self: center;
  padding-left: 20px;
 }
 .options-desktop{
  display: flex;
  justify-content: space-between;
  margin-top: 0;
 }
 .links{
  list-style-type: none;
  display: flex;
  color: hsl(0, 0%, 41%);
 }
 .arrows-up, .company-arrows-up{
  display: inline-block;
 }
 .arrows-down, .company-arrows-down{
  display: none;
 }
.dropdown-displayed{
 display: block;
}
.company-dropdown-displayed{
  display: block;
}
 
 li{
  padding-right: 30px;
 }
 .buttons{
  position: absolute;
  right: 30px;
  top: 15px;
 }
 .login-button-desktop{
  border: none;
 }
 .register-button-desktop{
  border: 1px solid hsl(0, 0%, 41%);
  padding: 10px 20px;
  border-radius: 15px;
 }
.login-button-desktop, .register-button-desktop{
 color: hsl(0, 0%, 41%);
 background-color: white;
}
.login-button-desktop:hover{
 color: black;
}
.register-button-desktop:hover{
 color: black;
 border: 1px solid black;
}
.main-page{
  display: flex;
  flex-direction: row-reverse;
  margin: 94px 35px 40px 35px;

 }
  picture{
   display: flex;
   flex: 1;
  }
  .hero-mobile-image{
   width: 100%;
   height: 72%;
   padding-top: 0;
  }
  .major-and-others{
   display: flex;
   flex-direction: column;
   flex: 1;
   margin-right: 100px;
  }
 .make-remote-work, .team-in-sync{
  text-align: left;
 }
 .learn-more-button{
  justify-self: flex-start;
  border: 1px solid transparent;
  margin-top: 60px;
 }
 .learn-more-button:hover{
  background-color: white;
  border-color: black;
  color: black;
  font-weight: bold;
 }
 .clients{
  margin: 50px 40px 0 0;
 }
 .client-databiz{
  width: 52px;
  height: 15px;
 }
 .client-audiophile{
  width: 42px;
  height: 17px;
 }
 .client-meet{
  width: 54px;
  height: 17px;
 }
 button{
  cursor: pointer;
 }
 a{
  text-decoration: none;
  color: hsl(0, 0%, 41%);
 }
 a:hover{
  color: black;
  cursor: pointer;
 }
}

@media(min-width: 946px) and (max-width: 1060px) {
  .hero-mobile-image{
    height: 75%;
   }
   .make-remote-work{
    font-size: 55px;
   }
   .team-in-sync{
    font-size: 17px;
    padding-left: 0;
   }
   .main-page{
    margin: 90px 80px 120px 80px;
   }
   .learn-more-button{
    font-size: 19px;
    padding: 16px 17px;
   }
}
@media(min-width: 1061px) and (max-width: 1200px){
  .hero-mobile-image{
    height: 78%;
   }
  .make-remote-work{
    font-size: 70px;
   }
   .team-in-sync{
    font-size: 16px;
    padding-right: 50px;
    padding-left: 0;
   }
   .main-page{
    margin: 90px 80px 120px 80px;
   }
   .major-and-others{
    margin-right: 65px;
   }
   .learn-more-button{
    margin-top: 40px;
   }
   .clients{
    margin-right: 30px;
   }
}
@media(min-width: 1201px){
  .all-header-section, .register-button-desktop, .login-button-desktop{
    font-size: 18px;
  }
  .register-button-desktop{
    padding: 10px 20px;
  }
  .hero-mobile-image{
    height: 82%;
   }
  .make-remote-work{
    font-size: 91px;
  }
  .team-in-sync{
    font-size: 23px;
    padding-left: 0;
  }
  .main-page{
    margin: 90px 120px 120px 120px;
   }
   .major-and-others{
    margin-right: 113px;
   }
   .learn-more-button{
    margin-top: 50px;
    padding: 20px 35px;
    font-size: 20px;
   }
   .clients{
    margin-right: 35px;
   }
   .client-databiz{
    width: 125px;
    height: 24px;
   }
   .client-audiophile{
    width: 76px;
    height: 36px;
   }
   .client-meet{
    width: 101px;
    height: 26px;
   }
   .client-maker{
    width: 97px;
    height: 30px;
   }
}