body{
 font-family: "Roboto", serif;
}
.make-remote-work{
 text-align: center;
 font-size: 40px;
 font-weight: 700;
 margin-bottom: 20px;
}
.team-in-sync{
 font-size: 18px;
 font-weight: 350;
 color: hsl(0, 0%, 41%);
 text-align: center;
 padding: 0 10px;
}
.learn-more-button{
 display: flex;
 justify-self: center;
 border: none;
 background-color: hsl(0, 0%, 8%);
 color: hsl(0, 0%, 98%);
 padding: 15px 25px;
 border-radius: 15px;
 font-size: 15px;
 font-weight: 500;
}
.clients{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding: 30px 5px 150px 5px;
}
.client-databiz{
 width: 90px;
 height: 16px;
}
.client-meet, .client-maker{
 width: 67px;
 height: 17px;
}
.client-audiophile{
 width: 50px;
 height: 26px;
}
.attribution { 
 font-size: 11px; 
 text-align: center; 
}
.attribution a { 
 color: hsl(228, 45%, 44%); 
}
.options-desktop{
 display: none;
}


.login-button, .register-button{
 background-color: white;
 border: none;
 font-size: 15px;
 color: hsl(0, 0%, 41%);
}

.hero-mobile-image{
 width: 100%;
 padding-top: 20px;
}
.features-dropdown{
 position: absolute;
 top: 50px;
 left: 110px;
}
.company-dropdown{
 position: absolute;
 top: 50px;
 left: 270px;
}
.features-dropdown, .company-dropdown {
 display: none;
 list-style-type: none;
 box-shadow: 0px 0px  20px 25px rgba(4, 0, 0, 0.05);
 border-radius: 10px;
 padding: 20px 0 20px 20px;
 font-size: 12px;
}
.features-arrow-up{
 display: none;
 position: absolute;
 top: 28px;
 left: 210px;
}
.company-arrow-up{
 display: none;
 position: absolute;
 top: 28px;
 left: 322px;
}
.listed-options{
 display: flex;
 align-items: flex-start;
 justify-content: space-between;
 padding-bottom: 7px;
 color: hsl(0, 0%, 41%);
}
.company-options{
 padding-bottom: 7px;
 color: hsl(0, 0%, 41%);
}
.options-mobile{
 background-color: white;
 transition: width 0.25s;
 position: absolute;
 right: 0;
 top: 0;
 bottom: -254px;
 list-style-type: none;
 z-index: 100;
 display: none;
 color: hsl(0, 0%, 41%);
 width: 0px;
 padding: 0;
 opacity: 1;
 visibility: visible;
}
.icon-open-mobile{
 position: absolute;
 right: 10px;
 cursor: pointer;
}
.icon-close-mobile{
 display: none;
 position: absolute;
 right: 17px;
 top: 14px;
 cursor: pointer;
}
/* .body-self{
  filter: blur(10px);
 opacity: 1;
 visibility: visible;
} */

.company-link-mobile, .features-link-mobile{
  text-decoration: none;
  color: hsl(0, 0%, 41%);
}

.features-arrow-down-mobile{
  padding-left: 6px;
 }
 .features-arrow-up-mobile{
  display: none;
 }
 .company-arrow-down-mobile{
  padding-left: 12px;
 }
 .company-arrow-up-mobile{
  display: none;
 }

.features-options, .company-options{
  display: none;
  padding: 10px 30px;
}
.listed-options-mobile{
  display: flex;
  align-items: flex-end;
}
.listed-options-mobile img{
  padding-right: 10px;
}
 

@media (max-width: 849px) {
 .all-header-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 15px;
 }
 .snap-logo{
  position: absolute;
 }
 
 li{
  padding-bottom: 20px;
 }
 .login-button{
  margin-top: 20px;
  display: block;
  padding: 12px 80px 12px 80px;
 }
 .register-button{
  padding: 10px 70px 10px 70px;
  border: 1px solid hsl(0, 0%, 41%);
  border-radius: 10px;
 }
.options-opened{
  display: block;
  padding: 70px 5px 0px 15px;
  width: 210px;
 }
.closed-mobile{
  display: block;
 }
.arrow-down-mobile{
  display: none;
}
.company-arrows-down-mobile{
  display: none;
}
.arrow-up-mobile{
  display: inline-block;
}
.company-arrows-up-mobile{
  display: inline-block;
}
.features-options-displayed, .company-options-displayed{
  display: block;
}

 /* .opacity-added{
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
  z-index: -1;

  opacity: 1; 
  visibility: visible;
 } */
}

@media (min-width: 850px){
 .icon-open-mobile, .icon-close-mobile, .options-mobile{
  display: none;
 }
 .all-header-section{
  display: flex;
  padding-top: 20px;
  position: relative;
 }
 .snap-logo{
  align-self: center;
  padding-left: 20px;
 }
 .options-desktop{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 0;
 }
 .links{
  display: flex;
  color: hsl(0, 0%, 41%);
 }
 .arrows-up{
  display: inline-block;
 }
 .arrows-down{
  display: none;
 }
 
.dropdown-displayed{
 display: block;
}
 
 li{
  padding-right: 30px;
 }
 .buttons{
  position: absolute;
  right: 30px;
  top: 15px;
 }
 .login-button-desktop{
  border: none;
 }
 .register-button-desktop{
  border: 1px solid hsl(0, 0%, 41%);
  padding: 10px 20px;
  border-radius: 15px;
 }
.login-button-desktop, .register-button-desktop{
 color: hsl(0, 0%, 41%);
 background-color: white;
}
.register-button-desktop:hover{
 color: black;
 border: 1px solid black;
}
.main-page{
  display: flex;
  flex-direction: row-reverse;
  margin: 50px 110px 120px 110px;
 }
  picture{
   display: flex;
   flex: 1;
  }
  .hero-mobile-image{
   width: 100%;
   height: 78%;
   padding-top: 0;
  }
  .major-and-others{
   display: flex;
   flex-direction: column;
   flex: 1;
   margin-right: 100px;
  }
  .make-remote-work{
   font-size: 90px;
  }
  .team-in-sync{
   font-size: 24px;
   padding-left: 0;
  }
 .make-remote-work, .team-in-sync{
  text-align: left;
 }
 .learn-more-button{
  justify-self: flex-start;
  margin-top: 60px;
  font-size: 25px;
  padding: 20px 30px;
 }
 .learn-more-button:hover{
  background-color: white;
  border: 1px solid black;
  color: black;
  font-weight: bold;
 }
 .clients{
  margin: 50px 50px 30px 0;
 }
 button, li{
  cursor: pointer;
 }
 a{
  text-decoration: none;
  color: hsl(0, 0%, 41%);
 }
 a:hover{
  color: black;
 }
}